body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
a
{
   color: #0000FF;
   text-decoration: underline;
}
a:visited
{
   color: #800080;
}
a:active
{
   color: #FF0000;
}
a:hover
{
   color: #0000FF;
   text-decoration: underline;
}
input:focus, textarea:focus, select:focus
{
   outline: none;
}
#Layer1
{
   background-color: #161616;
   background-image: none;
   border-radius: 0px;
}
#InlineFrame1
{
   border: 7px outset #FF8C00;
   border-radius: 0px;
   margin: 0;
}
#ThemeableButton1
{
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   display: inline-block;
   position: relative;
   vertical-align: middle;
   user-select: none;
   overflow: visible;
   text-decoration: none;
   cursor: pointer;
}
#wb_ThemeableButton1
{
   border-radius: 4px;
   margin: 0;
   vertical-align: top;
}
#ThemeableButton1
{
   box-sizing: border-box;
   padding: 0;
   text-align: center;
}
#wb_ThemeableButton1 .ui-button
{
   margin: 0;
   line-height: 26px;
}
#ThemeableButton1
{
   color: #454545;
   text-decoration: none;
}
#ThemeableButton1 :hover
{
   color: #2B2B2B;
}
#ThemeableButton1 :active
{
   color: #FFFFFF;
}
#wb_ThemeableButton1 .ui-secondary
{
   background-image: none !important;
   text-indent: 0;
   display: inline-block;
   font-family: FontAwesome;
   font-style: normal;
   font-weight: normal;
   line-height: 1;
   overflow: visible;
   position: absolute;
   right: 8px;
   top: 50%;
   margin-top: -6.5px;
   width: 13px;
   height: 13px;
   color: #454545;
}
#wb_ThemeableButton1 .ui-secondary:before
{
   content: "\f09b";
}
#wb_ThemeableButton1:hover .ui-secondary
{
   color: #2B2B2B;
}
#wb_ThemeableButton1:active .ui-secondary
{
   color: #FFFFFF;
}
#wb_ThemeableButton1 .ui-corner-all, #wb_ThemeableButton1 .ui-corner-left
{
   border-bottom-left-radius: 4px;
   border-top-left-radius: 4px;
}
#wb_ThemeableButton1 .ui-corner-all, #wb_ThemeableButton1 .ui-corner-right
{
   border-bottom-right-radius: 4px;
   border-top-right-radius: 4px;
}
#wb_ThemeableButton1 .ui-button
{
   background-color: #808080;
   background-image: none;
   border: 1px solid #FF8C00;
   color: #FF8C00;
}
#wb_ThemeableButton1 .ui-state-hover, #wb_ThemeableButton1 .ui-button:hover
{
   border-color: #FF8C00;
   background-color: #696969;
   background-image: none;
   color: #2B2B2B;
}
#wb_ThemeableButton1 .ui-state-active, #wb_ThemeableButton1 .ui-button:active
{
   border-color: #FF8C00;
   background-color: #4F4F4F;
   background-image: none;
   color: #FFFFFF;
}
#ThemeableButton2
{
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   display: inline-block;
   position: relative;
   vertical-align: middle;
   user-select: none;
   overflow: visible;
   text-decoration: none;
   cursor: pointer;
}
#wb_ThemeableButton2
{
   border-radius: 4px;
   margin: 0;
   vertical-align: top;
}
#ThemeableButton2
{
   box-sizing: border-box;
   padding: 0;
   text-align: center;
}
#wb_ThemeableButton2 .ui-button
{
   margin: 0;
   line-height: 26px;
}
#ThemeableButton2
{
   color: #454545;
   text-decoration: none;
}
#ThemeableButton2 :hover
{
   color: #2B2B2B;
}
#ThemeableButton2 :active
{
   color: #FFFFFF;
}
#wb_ThemeableButton2 .ui-secondary
{
   background-image: none !important;
   text-indent: 0;
   display: inline-block;
   font-family: FontAwesome;
   font-style: normal;
   font-weight: normal;
   line-height: 1;
   overflow: visible;
   position: absolute;
   right: 8px;
   top: 50%;
   margin-top: -6.5px;
   width: 13px;
   height: 13px;
   color: #454545;
}
#wb_ThemeableButton2 .ui-secondary:before
{
   content: "\f019";
}
#wb_ThemeableButton2:hover .ui-secondary
{
   color: #2B2B2B;
}
#wb_ThemeableButton2:active .ui-secondary
{
   color: #FFFFFF;
}
#wb_ThemeableButton2 .ui-corner-all, #wb_ThemeableButton2 .ui-corner-left
{
   border-bottom-left-radius: 4px;
   border-top-left-radius: 4px;
}
#wb_ThemeableButton2 .ui-corner-all, #wb_ThemeableButton2 .ui-corner-right
{
   border-bottom-right-radius: 4px;
   border-top-right-radius: 4px;
}
#wb_ThemeableButton2 .ui-button
{
   background-color: #808080;
   background-image: none;
   border: 1px solid #FF8C00;
   color: #FF8C00;
}
#wb_ThemeableButton2 .ui-state-hover, #wb_ThemeableButton2 .ui-button:hover
{
   border-color: #FF8C00;
   background-color: #696969;
   background-image: none;
   color: #2B2B2B;
}
#wb_ThemeableButton2 .ui-state-active, #wb_ThemeableButton2 .ui-button:active
{
   border-color: #FF8C00;
   background-color: #4F4F4F;
   background-image: none;
   color: #FFFFFF;
}
#ThemeableButton3
{
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   display: inline-block;
   position: relative;
   vertical-align: middle;
   user-select: none;
   overflow: visible;
   text-decoration: none;
   cursor: pointer;
}
#wb_ThemeableButton3
{
   border-radius: 4px;
   margin: 0;
   vertical-align: top;
}
#ThemeableButton3
{
   box-sizing: border-box;
   padding: 0;
   text-align: center;
}
#wb_ThemeableButton3 .ui-button
{
   margin: 0;
   line-height: 26px;
}
#ThemeableButton3
{
   color: #454545;
   text-decoration: none;
}
#ThemeableButton3 :hover
{
   color: #2B2B2B;
}
#ThemeableButton3 :active
{
   color: #FFFFFF;
}
#wb_ThemeableButton3 .ui-secondary
{
   background-image: none !important;
   text-indent: 0;
   display: inline-block;
   font-family: FontAwesome;
   font-style: normal;
   font-weight: normal;
   line-height: 1;
   overflow: visible;
   position: absolute;
   right: 8px;
   top: 50%;
   margin-top: -6.5px;
   width: 13px;
   height: 13px;
   color: #454545;
}
#wb_ThemeableButton3 .ui-secondary:before
{
   content: "\f2d0";
}
#wb_ThemeableButton3:hover .ui-secondary
{
   color: #2B2B2B;
}
#wb_ThemeableButton3:active .ui-secondary
{
   color: #FFFFFF;
}
#wb_ThemeableButton3 .ui-corner-all, #wb_ThemeableButton3 .ui-corner-left
{
   border-bottom-left-radius: 4px;
   border-top-left-radius: 4px;
}
#wb_ThemeableButton3 .ui-corner-all, #wb_ThemeableButton3 .ui-corner-right
{
   border-bottom-right-radius: 4px;
   border-top-right-radius: 4px;
}
#wb_ThemeableButton3 .ui-button
{
   background-color: #808080;
   background-image: none;
   border: 1px solid #FF8C00;
   color: #FF8C00;
}
#wb_ThemeableButton3 .ui-state-hover, #wb_ThemeableButton3 .ui-button:hover
{
   border-color: #FF8C00;
   background-color: #696969;
   background-image: none;
   color: #2B2B2B;
}
#wb_ThemeableButton3 .ui-state-active, #wb_ThemeableButton3 .ui-button:active
{
   border-color: #FF8C00;
   background-color: #4F4F4F;
   background-image: none;
   color: #FFFFFF;
}
#ThemeableButton4
{
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   display: inline-block;
   position: relative;
   vertical-align: middle;
   user-select: none;
   overflow: visible;
   text-decoration: none;
   cursor: pointer;
}
#wb_ThemeableButton4
{
   border-radius: 4px;
   margin: 0;
   vertical-align: top;
}
#ThemeableButton4
{
   box-sizing: border-box;
   padding: 0;
   text-align: center;
}
#wb_ThemeableButton4 .ui-button
{
   margin: 0;
   line-height: 26px;
}
#ThemeableButton4
{
   color: #454545;
   text-decoration: none;
}
#ThemeableButton4 :hover
{
   color: #2B2B2B;
}
#ThemeableButton4 :active
{
   color: #FFFFFF;
}
#wb_ThemeableButton4 .ui-secondary
{
   background-image: none !important;
   text-indent: 0;
   display: inline-block;
   font-family: FontAwesome;
   font-style: normal;
   font-weight: normal;
   line-height: 1;
   overflow: visible;
   position: absolute;
   right: 8px;
   top: 50%;
   margin-top: -6.5px;
   width: 13px;
   height: 13px;
   color: #454545;
}
#wb_ThemeableButton4 .ui-secondary:before
{
   content: "\f187";
}
#wb_ThemeableButton4:hover .ui-secondary
{
   color: #2B2B2B;
}
#wb_ThemeableButton4:active .ui-secondary
{
   color: #FFFFFF;
}
#wb_ThemeableButton4 .ui-corner-all, #wb_ThemeableButton4 .ui-corner-left
{
   border-bottom-left-radius: 4px;
   border-top-left-radius: 4px;
}
#wb_ThemeableButton4 .ui-corner-all, #wb_ThemeableButton4 .ui-corner-right
{
   border-bottom-right-radius: 4px;
   border-top-right-radius: 4px;
}
#wb_ThemeableButton4 .ui-button
{
   background-color: #808080;
   background-image: none;
   border: 1px solid #FF8C00;
   color: #FF8C00;
}
#wb_ThemeableButton4 .ui-state-hover, #wb_ThemeableButton4 .ui-button:hover
{
   border-color: #FF8C00;
   background-color: #696969;
   background-image: none;
   color: #2B2B2B;
}
#wb_ThemeableButton4 .ui-state-active, #wb_ThemeableButton4 .ui-button:active
{
   border-color: #FF8C00;
   background-color: #4F4F4F;
   background-image: none;
   color: #FFFFFF;
}
#GoMenu1-select
{
   border: 2px solid #FF8C00;
   border-radius: 2px;
   background-color: #808080;
   background-image: none;
   color: #FF8C00;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#GoMenu1-select
{
   float: left;
   height: 100%;
   width: 100%;
}
#GoMenu1
{
   height: 100%;
   margin: 0;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text2 div
{
   text-align: left;
}
#wb_Text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text3 div
{
   text-align: left;
}
#InlineFrame2
{
   border: 7px outset #FF8C00;
   border-radius: 0px;
   margin: 0;
}
#Tabs1.ui-widget
{
   font-size: 1em !important;
}
#Tabs1
{
   background-color: transparent;
   background-image: none;
   border: 1px solid #FF8C00;
   padding: 0;
   background: transparent;
   border-width: 0;
   margin: 0;
}
#Tabs1 .ui-tabs-nav
{
   background: transparent;
   border-width: 0 0 1px 0;
   border-color: #4F4F4F;
   border-radius: 0 !important;
   font-family: "Courier New";
   font-weight: normal;
   font-size: 13px;
   line-height: 1.0;
   padding: 4px 4px 0px 0px;
   margin: 0;
}
#Tabs1 .ui-tabs-nav li
{
   font-family: "Courier New";
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   margin: 0px 2px -1px 0px;
   text-align: left;
}
#Tabs1 .ui-tabs-nav li a
{
   padding: 8px 10px 8px 10px;
}
#Tabs1 .ui-tabs-panel
{
   background-color: transparent;
   background-image: none;
   border-color: #FF8C00;
   border-width: 0px 1px 1px 1px;
}
#Tabs1, #Tabs1 .ui-corner-all, #Tabs1 .ui-corner-top
{
   border-top-left-radius: 2px;
   border-top-right-radius: 2px;
}
#Tabs1, #Tabs1 .ui-corner-all, #Tabs1 .ui-corner-bottom
{
   border-bottom-right-radius: 2px;
   border-bottom-left-radius: 2px;
}
#Tabs1 .ui-helper-reset
{
   line-height: 16px;
}
#Tabs1 .ui-widget-content
{
   background-color: transparent;
   background-image: none;
   border-color: #FF8C00;
}
#Tabs1 .ui-state-default, #Tabs1 .ui-widget-content .ui-state-default
{
   border-color: #FF8C00;
   background-color: #808080;
   background-image: none;
}
#Tabs1 .ui-state-hover, #Tabs1 .ui-widget-content .ui-state-hover
{
   border-color: #FF8C00;
   background-color: #696969;
   background-image: none;
}
#Tabs1 .ui-state-active, #Tabs1 .ui-widget-content .ui-state-active
{
   border-color: #FF8C00;
   background-color: #4F4F4F;
   background-image: none;
}
#Tabs1 .ui-state-default a, #Tabs1 .ui-widget-content .ui-state-default a
{
   color: #FF8C00;
}
#Tabs1 .ui-state-hover a, #Tabs1 .ui-widget-content .ui-state-hover a
{
   color: #2B2B2B;
}
#Tabs1 .ui-state-active a, #Tabs1 .ui-widget-content .ui-state-active a
{
   color: #FFFFFF;
}
#Tabs1 .ui-tabs-panel
{
   position: relative;
   left: 0;
   top: 0;
   padding: 0;
}
#Tabs1 .description
{
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#ThemeableButton5
{
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   display: inline-block;
   position: relative;
   vertical-align: middle;
   user-select: none;
   overflow: visible;
   text-decoration: none;
   cursor: pointer;
}
#wb_ThemeableButton5
{
   border-radius: 4px;
   margin: 0;
   vertical-align: top;
}
#ThemeableButton5
{
   box-sizing: border-box;
   padding: 0;
   text-align: center;
}
#wb_ThemeableButton5 .ui-button
{
   margin: 0;
   line-height: 26px;
}
#ThemeableButton5
{
   color: #454545;
   text-decoration: none;
}
#ThemeableButton5 :hover
{
   color: #2B2B2B;
}
#ThemeableButton5 :active
{
   color: #FFFFFF;
}
#wb_ThemeableButton5 .ui-secondary
{
   background-image: none !important;
   text-indent: 0;
   display: inline-block;
   font-family: FontAwesome;
   font-style: normal;
   font-weight: normal;
   line-height: 1;
   overflow: visible;
   position: absolute;
   right: 8px;
   top: 50%;
   margin-top: -6.5px;
   width: 13px;
   height: 13px;
   color: #454545;
}
#wb_ThemeableButton5 .ui-secondary:before
{
   content: "\f2d0";
}
#wb_ThemeableButton5:hover .ui-secondary
{
   color: #2B2B2B;
}
#wb_ThemeableButton5:active .ui-secondary
{
   color: #FFFFFF;
}
#wb_ThemeableButton5 .ui-corner-all, #wb_ThemeableButton5 .ui-corner-left
{
   border-bottom-left-radius: 4px;
   border-top-left-radius: 4px;
}
#wb_ThemeableButton5 .ui-corner-all, #wb_ThemeableButton5 .ui-corner-right
{
   border-bottom-right-radius: 4px;
   border-top-right-radius: 4px;
}
#wb_ThemeableButton5 .ui-button
{
   background-color: #808080;
   background-image: none;
   border: 1px solid #FF8C00;
   color: #FF8C00;
}
#wb_ThemeableButton5 .ui-state-hover, #wb_ThemeableButton5 .ui-button:hover
{
   border-color: #FF8C00;
   background-color: #696969;
   background-image: none;
   color: #2B2B2B;
}
#wb_ThemeableButton5 .ui-state-active, #wb_ThemeableButton5 .ui-button:active
{
   border-color: #FF8C00;
   background-color: #4F4F4F;
   background-image: none;
   color: #FFFFFF;
}
