body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
a
{
   color: #0000FF;
   text-decoration: underline;
}
a:visited
{
   color: #800080;
}
a:active
{
   color: #FF0000;
}
a:hover
{
   color: #0000FF;
   text-decoration: underline;
}
input:focus, textarea:focus, select:focus
{
   outline: none;
}
#Layer1
{
   background-color: #161616;
   background-image: none;
   border-radius: 0px;
}
#ThemeableButton1
{
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   display: inline-block;
   position: relative;
   vertical-align: middle;
   user-select: none;
   overflow: visible;
   text-decoration: none;
   cursor: pointer;
}
#wb_ThemeableButton1
{
   border-radius: 4px;
   margin: 0;
   vertical-align: top;
}
#ThemeableButton1
{
   box-sizing: border-box;
   padding: 0;
   text-align: center;
}
#wb_ThemeableButton1 .ui-button
{
   margin: 0;
   line-height: 26px;
}
#ThemeableButton1
{
   color: #454545;
   text-decoration: none;
}
#ThemeableButton1 :hover
{
   color: #2B2B2B;
}
#ThemeableButton1 :active
{
   color: #FFFFFF;
}
#wb_ThemeableButton1 .ui-secondary
{
   background-image: none !important;
   text-indent: 0;
   display: inline-block;
   font-family: FontAwesome;
   font-style: normal;
   font-weight: normal;
   line-height: 1;
   overflow: visible;
   position: absolute;
   right: 8px;
   top: 50%;
   margin-top: -6.5px;
   width: 13px;
   height: 13px;
   color: #454545;
}
#wb_ThemeableButton1 .ui-secondary:before
{
   content: "\f09b";
}
#wb_ThemeableButton1:hover .ui-secondary
{
   color: #2B2B2B;
}
#wb_ThemeableButton1:active .ui-secondary
{
   color: #FFFFFF;
}
#wb_ThemeableButton1 .ui-corner-all, #wb_ThemeableButton1 .ui-corner-left
{
   border-bottom-left-radius: 4px;
   border-top-left-radius: 4px;
}
#wb_ThemeableButton1 .ui-corner-all, #wb_ThemeableButton1 .ui-corner-right
{
   border-bottom-right-radius: 4px;
   border-top-right-radius: 4px;
}
#wb_ThemeableButton1 .ui-button
{
   background-color: #808080;
   background-image: none;
   border: 1px solid #808080;
   color: #454545;
}
#wb_ThemeableButton1 .ui-state-hover, #wb_ThemeableButton1 .ui-button:hover
{
   border-color: #696969;
   background-color: #696969;
   background-image: none;
   color: #2B2B2B;
}
#wb_ThemeableButton1 .ui-state-active, #wb_ThemeableButton1 .ui-button:active
{
   border-color: #4F4F4F;
   background-color: #4F4F4F;
   background-image: none;
   color: #FFFFFF;
}
#ThemeableButton2
{
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   display: inline-block;
   position: relative;
   vertical-align: middle;
   user-select: none;
   overflow: visible;
   text-decoration: none;
   cursor: pointer;
}
#wb_ThemeableButton2
{
   border-radius: 4px;
   margin: 0;
   vertical-align: top;
}
#ThemeableButton2
{
   box-sizing: border-box;
   padding: 0;
   text-align: center;
}
#wb_ThemeableButton2 .ui-button
{
   margin: 0;
   line-height: 26px;
}
#ThemeableButton2
{
   color: #454545;
   text-decoration: none;
}
#ThemeableButton2 :hover
{
   color: #2B2B2B;
}
#ThemeableButton2 :active
{
   color: #FFFFFF;
}
#wb_ThemeableButton2 .ui-secondary
{
   background-image: none !important;
   text-indent: 0;
   display: inline-block;
   font-family: FontAwesome;
   font-style: normal;
   font-weight: normal;
   line-height: 1;
   overflow: visible;
   position: absolute;
   right: 8px;
   top: 50%;
   margin-top: -6.5px;
   width: 13px;
   height: 13px;
   color: #454545;
}
#wb_ThemeableButton2 .ui-secondary:before
{
   content: "\f019";
}
#wb_ThemeableButton2:hover .ui-secondary
{
   color: #2B2B2B;
}
#wb_ThemeableButton2:active .ui-secondary
{
   color: #FFFFFF;
}
#wb_ThemeableButton2 .ui-corner-all, #wb_ThemeableButton2 .ui-corner-left
{
   border-bottom-left-radius: 4px;
   border-top-left-radius: 4px;
}
#wb_ThemeableButton2 .ui-corner-all, #wb_ThemeableButton2 .ui-corner-right
{
   border-bottom-right-radius: 4px;
   border-top-right-radius: 4px;
}
#wb_ThemeableButton2 .ui-button
{
   background-color: #808080;
   background-image: none;
   border: 1px solid #808080;
   color: #454545;
}
#wb_ThemeableButton2 .ui-state-hover, #wb_ThemeableButton2 .ui-button:hover
{
   border-color: #696969;
   background-color: #696969;
   background-image: none;
   color: #2B2B2B;
}
#wb_ThemeableButton2 .ui-state-active, #wb_ThemeableButton2 .ui-button:active
{
   border-color: #4F4F4F;
   background-color: #4F4F4F;
   background-image: none;
   color: #FFFFFF;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
}
#Line1
{
   border-color: #696969;
   border-style: solid;
   border-bottom-width: 4px;
   border-top: 0px;
   border-left: 0px;
   border-right: 0px;
   height: 0 !important;
   line-height: 0px !important;
   margin: 0;
   padding: 0;
}
#InlineFrame1
{
   border: 3px solid #C0C0C0;
   border-radius: 0px;
   margin: 0;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text2 div
{
   text-align: center;
}
#wb_Text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text3 div
{
   text-align: center;
}
